<p>O site {{site.name}} acaba de receber uma nova mensagem de contato:</p>
<br>
<p>{{{record.message}}}</p>
<br>
<p>
  Enviada por: <br>
  Nome: {{record.name}} <br>
  Email {{record.email}} <br>
  Telefone {{record.phone}} <br>
</p>

<br>
<br>

<p>{{site.name}}</p>